{% extends 'base.html' %}
{% load static %}
{% block title %} Product List {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Product List({{ products.count }})</h4>

                    </div>
                    <a href="{% url 'product:product-create' %}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add Product</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive rounded mb-3">
                <table class="data-tables table mb-0 tbl-server-info">
                    <thead class="bg-white text-uppercase">
                        <tr class="ligth ligth-data">
                            <th>#</th>
                            <th>Product</th>
                            <th>Code</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Cost</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="ligth-body">
                    {% for product in products %}
                    <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{{ product.image_url }}" class="img-fluid rounded avatar-50 mr-3" alt="{{ product.name }}">
                                    <div>
                                        {{ product.name }}

                                    </div>
                                </div>
                            </td>
                            <td>{{ product.code }}</td>
                            <td>{{ product.category }}</td>
                            <td>TK. {{ product.price|floatformat:"2" }}</td>
                            <td>TK. {{ product.cost|floatformat:"2" }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>
                                <div class="d-flex align-items-center list-action">
                                    <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                                        href="{{ product.get_absolute_url }}"><i class="ri-eye-line mr-0"></i></a>
                                    <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                        href="{{ product.get_update_url }}"><i class="ri-pencil-line mr-0"></i></a>
                                    <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                        href="{{ product.get_delete_url }}"><i class="ri-delete-bin-line mr-0"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
{% endblock %}