{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Create Purchase {% endblock %}
{% block content %}
    <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Create Purchase</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.purchase_date|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.purchase_no|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.supplier|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.received_type|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.discount|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.shipping|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form.purchase_note|as_crispy_field }}
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">

                                <div class="card">
                                    <div class="card-header bg-secondary">
                                        <h5>Purchase Products</h5>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>

                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ product.name }}</td>
                                             <td>
                                                <div class="form-group">

                                                    <input type="number" class="form-control" value="0">

                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">

                                                    <input type="number" class="form-control" value="0">

                                                </div>
                                            </td>
                                            <td>500Tk.</td>

                                            <td><a href="#" class="btn btn-primary">Add</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <button type="reset" class="btn btn-danger">Cancel</button>
                            <button type="submit" class="btn btn-primary mr-2">Create</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {% for product in products %}
                    <form>
                        <div class="card">
                            <div class="card-header bg-pink">
                                <h5>Products</h5>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.price|floatformat:"2" }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td><a href="#" class="btn btn-primary">Add</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>

                {% endfor %}
            </div>
        </div>
        <!-- Page end  -->
    </div>
    {% include 'purchase/purchase_item.html' %}
{% endblock %}
