{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Update {{ object }} {% endblock %}
{% block content %}
    <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Update {{ object }}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.purchase_date|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.purchase_no|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.supplier|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.received_type|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.discount|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.shipping|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form.tax_type|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form.purchase_note|as_crispy_field }}
                                    </div>
                                </div>

                            </div>
                            <button type="reset" class="btn btn-danger">Cancel</button>
                            <button type="submit" class="btn btn-primary mr-2">Update</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- Page end  -->
    </div>
{% endblock %}
