{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Delete {{ purchase }}
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header d-flex justify-content-center bg-primary">
                    <div class="header-title">
                        <h4 class="card-title">Delete {{ purchase }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <p>Are you sure to delete this {{ purchase }}</p>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'purchase:purchase-list' %}" class="btn btn-primary mr-2">Back</a>
                             <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Page end  -->
</div>
{% endblock content %}